/* ----------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ----------------------*/
.markItUp .markItUpButton1 a	{
	background-image:url(images/bold.png) !important;
}
.bbcode {
	width:530px !important;
}
.bbcode .markItUpButton1 a	{
	background-image:url(images/bold.png)!important;
}
.bbcode .markItUpButton2 a	{
	background-image:url(images/italic.png)!important;
}
.bbcode .markItUpButton3 a	{
	background-image:url(images/underline.png)!important;
}

.bbcode .markItUpButton4 a	{
	background-image:url(images/picture.png)!important;
}
.bbcode .markItUpButton5 a	{
	background-image:url(images/link.png)!important;
}

.bbcode .markItUpButton6 a {
	background-image:url(images/colors.png)!important;
}
