a.extset, a.extset.visited{
	color:#979797;
	width:115px !important;
}
.ogc_header{
	min-width:1025px !important;
}
#chat_smileyk{
	background: url('../images/chat/chat_msgbg.png') repeat-y left top #686868;
}